node_modules/
coverage/

.DS_Store
Desktop.ini
Thumbs.db

# Ignore local database files
database/*.db*
database/*.sqlite
database/*.db-journal
database/database.db
database/database.db-shm
database/database.db-wal
**/package-lock.json
